{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Agent</title>
    <link rel="stylesheet" href="{% static 'font/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'font/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminPanel/dash_css/gestion.css' %}">
</head>
<body>
    <div class="table">
        <div class="table_header">
            <p>Agents</p>
            <div>
                <button class="add_new button" onclick="popupToggle();">+ Créer un Agent</button>
            </div>
        </div>
        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Telephone</th>
                        <th>Username</th>
                        <!-- <th>Nom</th> -->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for  agent in agents %}
             
                  
                    <tr>
                        <td>{{agent.email}}</td>
                        <td>{{agent.phone}}</td>
                        <td>{{agent.username}}</td>
                        <!-- <td>{{remise.last_name}}</td> -->
                        <td>
                            <button><i class="fas fa-pen-square" onclick="popupToggleEdit();"></i></button>
                            <button><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <!-- <div class="pagination">
            <div><i class="fas fa-angle-double-left"></i></div>
            <div><i class="fas fa-chevron-left"></i></div>
            <div>1</div>
            <div>2</div>
            <div><i class="fas fa-chevron-right"></i></div>
            <div><i class="fas fa-angle-double-right"></i></div>
        </div> -->
    </div>
    <div id="popup">
        <div class="content">
            <h2>Créer un Agent</h2>
            <hr>
            <form action="" method="post">
                <div>
                    {% for  error in errors %}
                    {{error}}
                    {%endfor%}
                </div>
                {% csrf_token %}
                <p>Téléphone</p>
                <input type="text" name="phone" placeholder="+2250102030405">
                <div class="voiture_prix">
                    <div class="voiture_prix1">
                        <p>Email</p>
                        <input type="email" name="email" placeholder="test@test.com">
                    </div>
                    <div class="voiture_prix1">
                        <p>Username</p>
                        <input type="text" name="username">
                    </div>
                </div>
                <div class="heure">
                    <div class="heure1">
                        <p>Mot de passe</p>
                        <input type="password" name="password1" placeholder="******">
                    </div>
                    <div class="heure1">
                        <p>Confirme</p>
                        <input type="password" name="password2" placeholder="******">
                    </div>
                </div>
                <!-- <div class="voiture_prix">
                    <div class="voiture_prix1">
                        <p>Pays</p>
                        <input type="text" name="#" placeholder="Pays">
                    </div>
                    <div class="voiture_prix1">
                        <p>Ville</p>
                        <input type="text" name="#" placeholder="Ville">
                    </div>
                </div> -->
                <div class="inputBox">
                    <input type="submit" value="Save">
                </div> 
            </form>
        </div>
        <a class="fas fa-times close" onclick="popupToggle();"></a>
    </div>

    <!-- Update or Edit popup -->

    <div id="popupedit">
        <div class="content">
            <h2>Modifié l'Agent</h2>
            <hr>
            <form action="#">
                <p>Téléphone</p>
                <input type="text" name="#" placeholder="+2250102030405">
                <div class="voiture_prix">
                    <div class="voiture_prix1">
                        <p>Email</p>
                        <input type="email" name="#" placeholder="test@test.com">
                    </div>
                    <div class="voiture_prix1">
                        <p>Mot de passe</p>
                        <input type="password" name="#">
                    </div>
                </div>
                <div class="heure">
                    <div class="heure1">
                        <p>Prenom</p>
                        <input type="text" name="#" placeholder="Prenom">
                    </div>
                    <div class="heure1">
                        <p>Nom</p>
                        <input type="text" name="#" placeholder="Nom">
                    </div>
                </div>
                <div class="voiture_prix">
                    <div class="voiture_prix1">
                        <p>Pays</p>
                        <input type="text" name="#" placeholder="Pays">
                    </div>
                    <div class="voiture_prix1">
                        <p>Ville</p>
                        <input type="text" name="#" placeholder="Ville">
                    </div>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Save">
                </div> 
            </form>
        </div>
        <a class="fas fa-times close" onclick="popupToggleEdit();"></a>
    </div>


    <script src="{% static 'adminPanel/dash_js/gestion.js' %}"></script>
</body>
</html>