{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuration Trajet</title>
    <link rel="stylesheet" href="{% static 'font/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'font/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminPanel/dash_css/gestion.css' %}">
</head>
<body>
    <div class="table">
        <div class="table_header">
            <p>Configuration des Trajets</p>
            <div>
                <button class="add_new button" onclick="popupToggle();">+ Create Trajet</button>
            </div>
        </div>
        <div class="table_section">
            <table>
                <thead>
                    <tr>
                        <th>Trajet</th>
                        <th>No</th>
                        <th>Vehicule(s)</th>
                        <th>Heure</th>
                        <th>Prix</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Abidjan - Abengourou</td>
                        <td>HDMI</td>
                        <td>16 places</td>
                        <td>7h30 - 22h30</td>
                        <td>20$</td>
                        <td>
                            <button><i class="fas fa-pen-square" onclick="popupToggleEdit();"></i></button>
                            <button><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="pagination">
            <div><i class="fas fa-angle-double-left"></i></div>
            <div><i class="fas fa-chevron-left"></i></div>
            <div>1</div>
            <div>2</div>
            <div><i class="fas fa-chevron-right"></i></div>
            <div><i class="fas fa-angle-double-right"></i></div>
        </div> -->
    </div>
    <div id="popup">
        <div class="content">
            <h2>Créer un trajet</h2>
            <hr>
            <form action="#">
                <p>#No</p>
                <input type="text" name="#" placeholder="HNDN">
                <div class="lieu">
                    <div class="lieu1">
                        <p>Depart</p>
                        <select name="#" required>
                            <option selected disabled>Ville de Départ</option>
                            <option value="abengourou">Abengourou</option>
                            <option value="abidjan">Abidjan</option>
                            <option value="bouaké">Bouaké</option>
                            <option value="daloa">Daloa</option>
                            <option value="yamoussoukro">Yamoussoukro</option>
                            <option value="san-pedro">San-Pedro</option>
                            <option value="odiené">Odiené</option>
                            <option value="korhogo">Korhogo</option>
                        </select> 
                    </div>
                    <div class="lieu1">
                        <p>Arrivé</p>
                        <select name="#" required>
                            <option selected disabled>Ville d'Arrivé</option>
                            <option value="abengourou">Abengourou</option>
                            <option value="abidjan">Abidjan</option>
                            <option value="bouaké">Bouaké</option>
                            <option value="daloa">Daloa</option>
                            <option value="yamoussoukro">Yamoussoukro</option>
                            <option value="san-pedro">San-Pedro</option>
                            <option value="odiené">Odiené</option>
                            <option value="korhogo">Korhogo</option>
                        </select> 
                    </div>
                </div>
                <div class="heure">
                    <div class="heure1">
                        <p>Heure de debut</p>
                        <input type="text" name="#" placeholder="Heure:Minute (07:30)">
                    </div>
                    <div class="heure1">
                        <p>Heure de fin</p>
                        <input type="text" name="#" placeholder="Heure:Minute (22:30)">
                    </div>
                </div>
                <div class="voiture_prix">
                    <div class="voiture_prix1">
                        <p>capaciter vehicule</p>
                        <input type="number" name="#">
                    </div>
                    <div class="voiture_prix1">
                        <p>Prix</p>
                        <input type="number" name="#">
                    </div>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Save">
                </div> 
            </form>
        </div>
        <a class="fas fa-times close" onclick="popupToggle();"></a>
    </div>

    <!-- Update or Edit popup -->

    <div id="popupedit">
        <div class="content">
            <h2>Modifié le trajet</h2>
            <hr>
            <form action="#">
                <p>#No</p>
                <input type="text" name="#" placeholder="HNDN">
                <div class="lieu">
                    <div class="lieu1">
                        <p>Depart</p>
                        <select name="#" required>
                            <option selected disabled>Ville de Départ</option>
                            <option value="abengourou">Abengourou</option>
                            <option value="abidjan">Abidjan</option>
                            <option value="bouaké">Bouaké</option>
                            <option value="daloa">Daloa</option>
                            <option value="yamoussoukro">Yamoussoukro</option>
                            <option value="san-pedro">San-Pedro</option>
                            <option value="odiené">Odiené</option>
                            <option value="korhogo">Korhogo</option>
                        </select> 
                    </div>
                    <div class="lieu1">
                        <p>Arrivé</p>
                        <select name="#" required>
                            <option selected disabled>Ville d'Arrivé</option>
                            <option value="abengourou">Abengourou</option>
                            <option value="abidjan">Abidjan</option>
                            <option value="bouaké">Bouaké</option>
                            <option value="daloa">Daloa</option>
                            <option value="yamoussoukro">Yamoussoukro</option>
                            <option value="san-pedro">San-Pedro</option>
                            <option value="odiené">Odiené</option>
                            <option value="korhogo">Korhogo</option>
                        </select> 
                    </div>
                </div>
                <div class="heure">
                    <div class="heure1">
                        <p>Heure de debut</p>
                        <input type="text" name="#" placeholder="Heure:Minute (07:30)">
                    </div>
                    <div class="heure1">
                        <p>Heure de fin</p>
                        <input type="text" name="#" placeholder="Heure:Minute (22:30)">
                    </div>
                </div>
                <div class="voiture_prix">
                    <div class="voiture_prix1">
                        <p>capaciter vehicule</p>
                        <input type="number" name="#">
                    </div>
                    <div class="voiture_prix1">
                        <p>Prix</p>
                        <input type="number" name="#">
                    </div>
                </div>
                <div class="inputBox">
                    <input type="submit" value="Save">
                </div> 
            </form>
        </div>
        <a class="fas fa-times close" onclick="popupToggleEdit();"></a>
    </div>


    <script src="{% static 'adminPanel/dash_js/gestion.js' %}"></script>
</body>
</html>