{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crée une Commande</title>
    <link rel="stylesheet" href="{% static 'font/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'font/css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'adminPanel/dash_css/gestion.css' %}">
</head>
<body>
    <div id="popup" style="left: 50%; visibility: visible;">
        <div class="content">
            <h2>Créer une Commande</h2>
            {% for message in messages %}
            <p class="bg-info">{{message}}</p>
            {%endfor%}
            <hr>
            <form action="" method="post">
                <div>
                    {% for  error in errors %}
                    {{error}}
                    {%endfor%}
                </div>
                {% csrf_token %}
                <!-- <p>Sejour</p>
                <input type="text" name="#" placeholder="Allez simple ou Allé-retour"> -->
                <div class="lieu">
                    <div class="lieu1">
                        <p>Trajet</p>
                       
                        <select name="trajet" required>
                            {% for trajet in trajets %}
                            <option value="{{trajet.id}}">  {{trajet.lieu_depart}}- {{trajet.lieu_arrivee}}</option>
                              {%endfor%}
                            <option value="korhogo">Korhogo</option>
                        </select> 
                    </div>
                    <div class="lieu1">
                        <p>Client</p>
                        <select name="#" required>
                            {% for client in clients %}
                        <option value="{{client.id}}">{{client.username}} </option>
                          {%endfor%}
                        </select> 
                    </div>
                </div>
                <div class="heure">
                    <div class="heure1">
                        <p>Date de Depart</p>
                        <input type="date" name="date_depat">
                    </div>
                    <!-- <div class="heure1">
                        <p>Date de Retour</p>
                        <input type="date" name="#">
                    </div> -->
                </div>
                <div class="voiture_prix">
                    <!-- <div class="voiture_prix1">
                        <p>Passagers</p>
                        <input type="number" name="#" placeholder="nombre de Passager">
                    </div> -->
                    <div class="voiture_prix1">
                        <p>Heure de Depart</p>
                        <input type="time" name="heure_depat">
                    </div>
                </div>
                <button type="submit" class="add_new button"></i>Reserver</button> 
               
                <!-- <button class="add_new button"><i class="fas fa-search"></i><a href="{% url 'appbilletterie:search' %}" style="color: #fff; padding: 13px 5px;"> Recherche</a></button> -->
            </form>
        </div>
    </div>
    <script src="{% static 'adminPanel/dash_js/gestion.js' %}"></script>
</body>
</html>